.feature2 {
  position: relative;
  background: linear-gradient(to bottom right, $veryDarkGrayishBlueGradient 0%, $veryDarkDesaturatedBlueGradient 98%);
  border-top-right-radius: 7.5rem;
  border-bottom-left-radius: 7.5rem;

  @include breakpoint-up(large) {
    background: linear-gradient(to right, $veryDarkGrayishBlueGradient 0%, $veryDarkDesaturatedBlueGradient 80%);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    border-top-right-radius: 7.5rem;
    border-bottom-left-radius: 7.5rem;
    z-index: 0;
    background-image: url(../../images/bg-pattern-circles.svg);
    background-position: center -286px;
    background-repeat: no-repeat;
    background-size: 43.3125rem;

    @include breakpoint-up(large) {
      background-position: -205px -470px;
      background-size: 60rem;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5.4375rem;
    @include breakpoint-up(large) {
      flex-direction: row;
      margin-bottom: 18.75rem;
    }
  }

  &__img {
    position: relative;
    height: 250px;
    width: 100%;
    order: 1;
    flex: 0 1 auto;
    &::before {
      content: "";
      position: absolute;
      top: -167px;
      left: 0;
      height: 420px;
      width: 100%;
      background-image: url(../../images/illustration-phones.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      @include breakpoint-up(large) {
        top: -85px;
        left: -24px;
        height: 600px;
      }
    }
    @include breakpoint-up(large) {
      order: 1;
      flex: 2 1 auto;
    }
  }

  &__text {
    z-index: 1;
    margin-top: 0;
    margin-bottom: 8.25rem;
    flex: 0 1 auto;
    order: 2;

    @include breakpoint-up(large) {
      order: 2;
      flex: 0 1 100%;
      margin-top: 6.875rem;
      margin-bottom: 6.875rem;
    }
    h1,
    p {
      color: $white;
      text-align: center;
      margin: 0;
      @include breakpoint-up(large) {
        text-align: left;
      }
    }

    h1 {
      font-size: 2.125rem;
      line-height: 1.5;
      margin-bottom: 1.625rem;
    }
    p {
    }
  }
}
